# ignore log files and databases
*.log
*.sql
*.sqlite

application/configuration/server.inc.php
application/configuration/local.inc.php
application/configuration/database.php
application/assets/js/banchaclinic/core.js


#
#