# ignore node dependency directories
application/tmp_file/

# ignore log files and databases
*.log
*.sql
*.sqlite

application/configuration/server.inc.php
application/configuration/local.inc.php
application/js/assets/banchaclinic/core.js


